.projectItem{
    padding-left: 2vw;
    margin-left: 2.5vw;
    margin-bottom: 2vh;
    margin-top: 1vh;
    width:90vw;
    /* height: 45vh; */
    border: 2px solid black;
    box-sizing: border-box;
}
.projectItem{
    display:grid;
    grid-template-columns: 2fr 1fr;
    /* flex-direction: row; */
    justify-content:center;
}
img{
    border: 3px solid black;
    border-radius: 100px;
    margin: 4vh 4vw;
    /* height:40vw; */
    width:40vw;
    /* height:40vh; */
    /* height : 50px; */
    border-radius: 10px;
}
.projectTitle {
    height:40vh;
    display: flex;
    justify-content:flex-start;
    font-size: 1em;
    align-items:center;
    color:white;
}